/*Importação de fontes do Google deve ser
feita na primeira linha do arquivo*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono:ital,wght@0,500;1,300&display=swap');

/*Seletor para o corpo da página*/
body {
    /*Propriedades e valores*/
    background-color: plum;
    color: rgb(196, 84, 72);
}

h1 {
    color: darkviolet;
    font-family: 'Playfair Display', serif;
    font-size: 350%;
}

h3 {
    color: tomato;
    font-family: 'Roboto Mono', monospace;
    font-size: 150%;
}

p {
    color: rgb(196, 84, 72);
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
}

ul {
    color: rgb(196, 84, 72);
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
}